@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bebas+Neue&display=swap);
* {
  font-family: 'Barlow', sans-serif;
  background-color: #FAC8A5;
  color: #35241D;
  justify-content: center;
/*ponto*/
  }
  